{% extends 'main/template.html' %}
{% load static %}
{% block title %}Profile {% endblock title %}
{% block body %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
<div style="height: 50px"></div>

<h1 class="text-center">Profile </h1>
<div class="container"><hr></div>
<div class="container">
    <div class="row">
            <!-- Start: Profile Edit Form -->
            <div class="container profile profile-view" id="profile">
                <div class="row">
                </div>
                <form>
                    <div class="form-row profile-row">
                        <div class="col-md-6">
                            
                            <div class="form-row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group"><label><b>Name</b></label><input placeholder="{{ user.username }}" class="form-control" type="text" 
                                            name="name"></div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group"><label><b>Team</b></label><input placeholder="{{ user.profile.team }}" class="form-control" type="text"
                                            name="team"></div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group"><label><b>College / Organization</b></label><input placeholder="{{ user.profile.college }}" class="form-control" type="text"
                                            name="college"></div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group"><label><b>Your Quote</b></label><textarea placeholder="{{ user.profile.quote }}" class="form-control" type="text-field"
                                            rows=5 name="quote"></textarea></div>
                                </div>
                            </div>

                            <div class="form-group"><label><b>Email</b></label><input placeholder="{{ user.email }}" class="form-control" type="email"
                                    autocomplete="on" required="" name="email"></div>


                            <div class="form-row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group"><label><b>Password</b></label><input class="form-control"
                                            type="password" name="password" autocompleste="off" required=""></div>
                                </div>


                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group"><label><b>Confirm Password</b></label><input class="form-control"
                                            type="password" name="confirmpass" autocomplete="off" required=""></div>
                                </div>


                                <div>
                                    <label><b>Profile Picture</b></label>
                                    <input class="form-control-file form-control" type="file" name="avatar-file">
                                </div>
                            </div>
                            <hr>
                            <div class="form-row">
                                <div style="float:right" class="col-md-5">
                                    <button class="btn btn-primary btn-block" type="submit">Save Profile</button>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-center">Your card will look like this:</h4>
                            <div class="d-flex flex-justify-around flex-wrap">

                                <div
                                    class="hover-grow height-full border rounded-1 box-shadow-medium bg-white mb-4 m-1 position-relative">
                            
                                    <a class="no-underline text-gray-dark" href="{{ user.profile.image.url }}" target="_blank"
                                        rel="nofollow noopener">
                                        <div class="p-3 d-flex flex-column student">
                                            <img src="{{ user.profile.image.url }}" class="width-fit lazy" alt="{{ peeps.name }}" width="272"
                                                height="272">
                                            <h4 class="h4-mktg text-mono pt-3 pb-2">
                                                {{ user.profile.team }}
                                            </h4>
                                            <div class="flex-auto">
                                                <h4 style="font-family: 'Comfortaa', cursive; font-size: 30px" class="h4-mktg">
                                                    {{ user.username }}</h4>
                                                <p class="f4" style="height:48px;">{{ user.profile.college }}</p>
                                            </div>
                                            <div class="bg-blue-light p-3 rounded-1 width-full quote">
                                                <p class="f5 css-truncate"
                                                    style="text-overflow: ellipsis; overflow-wrap: anywhere; overflow: hidden; height: 60px;">
                                                    {{ user.profile.quote }}
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- End: Profile Edit Form -->
        </div>
    </div>
</div>




<div style="height: 20px"></div>
<script src="{% static 'users/js/profile.js' %}"></script>
{% endblock body %}