{% extends 'main/template.html' %}
{% block title %}Home {% endblock title %}
{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-11.5">



            <div class="d-flex flex-justify-around flex-wrap">
                <p
                    style="color:rgb(97, 88, 88); font-weight:bold; font-family: 'Roboto Mono', monospace; font-size:60px; padding-top:50px">
                    Sushiksha Yearbook</p>
            </div>

        <br>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="float-left ml-5">
                            <h2 style="font-family: 'Roboto Mono', monospace;"><b>181</b> Members</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div style="float:right; padding-right:24px;" class="widget-search widget">
                            <form id="search" class="widget-search__form form-inline my-2 my-lg-0" role="search"
                                method="GET">
                                <label>
                                    <input style="width:300px; box-shadow: 1px 1px 2px black" id="search-input"
                                        class="widget-search__field form-control mr-sm-2" name="query" type="text"
                                        placeholder="Search..." name="search" aria-label="Search">
                                </label>
                                <button class="btn btn-secondary my-2 my-sm-0 widget-search__submit" type="submit"
                                    value="search">Search</button>
                            </form>
                        </div>
                    </div>
                </div>


                <div style="height:70px;"></div>
                <div class="d-flex flex-justify-around flex-wrap">


                    {% for peeps in people %}
                    <div
                        class="hover-grow height-full border rounded-1 box-shadow-medium bg-white mb-4 m-1 position-relative">

                        <a class="no-underline text-gray-dark" href="{{ peeps.img }}" target="_blank"
                            rel="nofollow noopener">
                            <div class="p-3 d-flex flex-column student">
                                <img src="{{ peeps.img }}" class="width-fit lazy" alt="{{ peeps.name }}" width="272"
                                    height="272">
                                <h4 class="h4-mktg text-mono pt-3 pb-2">
                                    {{ peeps.team }}
                                </h4>
                                <div class="flex-auto">
                                    <h4 style="font-family: 'Comfortaa', cursive; font-size: 30px" class="h4-mktg">
                                        {{ peeps.name }}</h4>
                                    <p class="f4" style="height:48px;">{{ peeps.college }}</p>
                                </div>
                                <div class="bg-blue-light p-3 rounded-1 width-full quote">
                                    <p class="f5 css-truncate"
                                        style="text-overflow: ellipsis; overflow-wrap: anywhere; overflow: hidden; height: 60px;">
                                        {{ peeps.quote }}
                                    </p>
                                </div>
                            </div>
                        </a>

                    </div>
                    {% endfor %}
                </div>
                <div style="height: 100px; width: 100px;"></div>

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>



</div>

{% endblock body %}