{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
    </style>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>{% block title %} {% endblock title %}| Yearbook</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://i.ibb.co/r0qV7PW/sophists-logo.png" rel="icon">
    <link href="https://i.ibb.co/r0qV7PW/sophists-logo.png" rel="apple-touch-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap');
    </style>
</head>

<body>

    <nav class="navbar navbar-dark navbar-expand-md bg-dark sticky-top navigation-clean-button"
        style="height:80px;background-color:#37434d;color:#ffffff;">
        <div class="container-fluid"><img src="https://i.ibb.co/r0qV7PW/sophists-logo.png"
                style="opacity: 1;height: 72px"><a class="navbar-brand"
                style="opacity: 1;color: #ffffff;font-size: 30px; font-family: 'Roboto Mono', monospace;" href=" {% url 'home' %}">&nbsp;<b>Sophists
                    Yearbook</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" style="color: #ffffff;font-size: 20px;" href=" {% url 'home' %}"><i
                                class="fas fa-book" style="font-size: 20px;"></i>&nbsp;Home&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff;font-size: 20px;" href=" {% url 'about' %}"><i
                                class="far fa-comment"></i>&nbsp;About&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href=" {% url 'gallery' %}"
                            style="color: #ffffff;font-size: 20px;"><i
                                class="fas fa-images"></i>&nbsp;Gallery&nbsp;&nbsp;</a>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"
                            style="color: #ffffff;font-size: 20px;"><i
                                class="far fa-address-card"></i>&nbsp;Profile&nbsp;&nbsp;&nbsp;</a>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"
                            style="color: red;font-size: 20px;"><i
                                class="fas fa-sign-out-alt"></i>&nbsp;Logout&nbsp;&nbsp;&nbsp;</a>
                    </li>


                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-hover="dropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Only for Sophists Members" style="color: #ffffff;font-size: 20px;"><i
                                class="fas fa-plus"></i>&nbsp;Join&nbsp;&nbsp;&nbsp;</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        </div>
                    </li>
                    {% endif %}

                </ul>
            </div>
    </nav>


    {% if messages %}

    {% for message in messages %}

    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">

        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>

    {% endfor %}

    {% endif %}

    <div style="height: 30px"></div>


    {% block body %}



    {% endblock body %}

    <div style="height: 50px"></div>

    <footer class="footer mt-auto py-3" id="footer">
        <div class="container pt-5 ">
            <div class="row">
                <div class="col-md-3 col-sm-12 mb-3 text-center">
                    <img style="width:200px" src="https://i.ibb.co/r0qV7PW/sophists-logo.png">
                </div>
                <div class="col-md-9 col-sm-12">

                    <div class="col-md-3 col-sm-6 col-6 p-0 float-right mb-3">
                        <ul>
                            <h5 class="mb-4 font-weight-bold text-uppercase">Other Links</h5>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                    href="../finance/finance-accounting-erp.html">Sushiksha</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                                    href="../business-apps/business-apps.html">World Konkani</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-right">
                        <h5 class="mb-4 font-weight-bold text-uppercase">Connect</h5>
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="https://www.linkedin.com/company/naologic"><i
                                        class="fa fa-linkedin mr-1"></i>LinkedIn</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="https://twitter.com/naologicerp"><i class="fa fa-twitter mr-1"></i>Twitter</a>
                            </li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="https://github.com/naologic" target="_blank"><i
                                        class="fa fa-github mr-1"></i>Github</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="https://www.facebook.com/naologic/" target="_blank"><i
                                        class="fa fa-facebook mr-1"></i>Facebook</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="https://www.youtube.com/channel/UCtHmuf2oQLnksokfz8GIbKA" target="_blank"><i
                                        class="fa fa-youtube mr-1"></i>YouTube</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </footer>
    <div style="font-family: Comfortaa " class="copyright">
        Created with ❤ by Sushiksha
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>



</html>